@{
    ViewBag.Title = "Login";
}

<section class="form-area">
    <div class="center">
        <h1>Đăng nhập</h1>
        <form method="POST" action>
            <div class="txt-field">
                <input type="text" required>
                <span></span>
                <label for="">Email / SĐT</label>
            </div>
            <div class="txt-field">
                <input type="password" required>
                <span></span>
                <label for="">Password</label>
            </div>
            <div class="pass">Quên mật khẩu</div>
            <input type="submit" value="Login" />
            <div class="register-link">
                Không phải nhân viên?<a href="register.html">Đăng ký</a>
            </div>
        </form>
    </div>
</section>


